@import url('https://fonts.googleapis.com/css?family=Cuprum:400,400i,700&subset=cyrillic');

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600&subset=cyrillic-ext');

 @font-face {
  font-family: 'symbols-technomart';
  src: url('../font/symbols-technomart.eot?23527613');
  src: url('../font/symbols-technomart.eot?23527613#iefix') format('embedded-opentype'),
       url('../font/symbols-technomart.woff?23527613') format('woff'),
       url('../font/symbols-technomart.ttf?23527613') format('truetype'),
       url('../font/symbols-technomart.svg?23527613#symbols-technomart') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*Sprite-parametres at the bottom of documenta*/

/*General styles*/

body {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: black;
  min-width: 960px;
}

.container {
  width: 940px;
  padding: 0 10px;
  margin: 0 auto;
}

.clearfix:after {
  content: '';
  display: table;
  clear: both;
}

.display-flex {
  display: -webkit-box;
  display: -ms-flexbox; 
  display: -webkit-flex; 
  display: flex; 
}

h1,h2,h3,h4,h5,h6,p {
  padding: 0;
  margin: 0;
  cursor: default;
}

a {
  text-decoration: none;
}

ul,li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  padding: 10px;
  text-align: center;
  
  display: inline-block;
  background: #ee3643;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
}
/*Header*/

.main-header {
  background: #f1f5f7;
  padding-bottom: 60px;
}

.top-panel {
  background: #293449;
}

.top-panel a,
.top-panel input {
  color: white;
  font-size: 17px;
  line-height: 18px;
  
  box-sizing: border-box;
}

a.logo {
  font-size: 24px;
  line-height: 24px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  
  padding: 9px;
  width: 220px;
  box-sizing: border-box;
  background: #ee3643;
  position: relative;
}

.logo::after {
  content: '';
  display: block;
  position: absolute;
  background: #b52933;
  height: 5px;
  bottom: -5px;
  left: 0;
  right: 0;
}

.top-panel form {
  position: relative;
}

.top-panel input {
  background: #293449;
  border: none;
  padding: 12px 10px 12px 50px;;
  width: 270px;
}

.top-panel form::before {
  content: '\1f50d';
  font-family: 'symbols-technomart';
  font-size: 17px;
  color: #fff;
  opacity: .3;
  position: absolute;
  top: 12px;
  left: 18px;
}

::-webkit-input-placeholder {
  opacity: 1;
  font-size: 17px;
  
}
::-moz-placeholder {
  opacity: 1;
  font-size: 17px;
  
}
:-ms-input-placeholder { 
  opacity: 1;
  font-size: 17px;
  
}
:-moz-placeholder { 
  opacity: 1;
  font-size: 17px;
}

.bookmark,
.basket,
.order-btn {
  width: 150px;
  font-size: 17px;
  line-height: 18px;
  padding: 12px 0;
  position: relative;
}

.bookmark
{
  margin-left: auto;
  padding-left: 50px;
  padding-right: 15px;
}

.basket {
  padding-left: 50px;
  padding-right: 15px;
}


.bookmark::before,
.basket::before {
  content: '\1f50d';
  font-family: 'symbols-technomart';
  font-size: 17px;
  color: #fff;
  opacity: .3;
  position: absolute;
  top: 12px;
  left: 18px;
}

.bookmark::before {
  content: '\1f516';
}

.basket::before {
  content: '\62';
}

.order-btn {
  background: #63a63e;
  text-align: center;
}

.middle-panel {
  margin: 50px 0 40px;
}

.description {
  line-height: 24px;
  font-style: italic;
  color: #ee3643;
  width: 190px;
  margin-left: 50px;
  margin-right: 80px;
  float: left;
}

.header-contacts {
  float: left;
}

.phone {
  font-size: 21px;
  line-height: 17px;
  color: #e9292a;
  
  width: 154px;
  padding: 11px 20px 11px 40px;
  margin-bottom: 5px;
  position: relative;
  
  border: 3px solid #fff;
}

.phone::before {
  content: '\1f4de';
  font-family: 'symbols-technomart';
  font-size: 22px;
  line-height: 21px;
  color: #b7bfc8;
  position: absolute;
  top: 12px;
  left: 13px;
}

.adress {
 text-align: center;
}

.user-block {
  float: right;
}

.login,
.register {
  font-size: 21px;
  line-height: 21px;
  display: inline-block;
  background: #fff;
  color: #000;
  padding: 12px 25px;
  box-sizing: border-box;
  width: 120px;
}

.login {
  padding-left: 50px;
  position: relative;
}

.login::before {
   content: '\2386';
  font-family: 'symbols-technomart';
  font-size: 22px;
  line-height: 21px;
  color: #c5c5c5;
  position: absolute;
  top: 12px;
  left: 15px;
}

.register {
  width: 150px;
}

.main-nav { 
  justify-content: space-around;
  -webkit-justify-content: space-around;
}

.nav-item {
  font-size: 17px;
  line-height: 17px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  
  background: #32425c;
  padding: 19px;
  border-bottom: 5px solid #293449;

  flex-grow: 1;
}


/*Modal-grid*/

.modal-grid {
  padding: 60px 0 50px;
  flex-wrap: wrap;
}

.row {
  justify-content: space-between;
  flex-basis: 100%;
  margin-bottom: 20px;
}

.col-1,
.col-2 {
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}

.col-1 {
  margin-right: 20px;
}
.col-2 {
  width: 300px;
}
.grid-item {
  height: 123px;
  width: 300px;
  box-sizing: border-box;
  position: relative;
}

.grid-item::after {
  background: url(../../sprite-1.png) no-repeat;
  content: '';
  display: block;
  position: absolute;
  top: 30px;
  right: 42px;
}

.grid-item.m1 {
  background: #f6b22d;
}
.grid-item.m1::after {
  width: 44px;
  height: 65px;
  background-position: -292px -3px;
}

.grid-item.m2 {
  background: #4aafde;
}
.grid-item.m2::after {
  width: 75px;
  height: 61px;
  background-position: -631px -270px;
  top: 28px;
  right: 32px; 
}

.grid-item.m3 {
  background: #cc79d1;
}
.grid-item.m3::after {
  width: 78px;
  height: 62px;
  background-position: -1037px -270px;
  right: 32px; 
}

.grid-item.m5 {
  background: #85d179;
}
.grid-item.m5::after {
  width: 59px;
  height: 72px;
  background-position: -87px -270px;
  top: 25px;
}

.grid-item.m6 {
  background: #f6b22d;
}
.grid-item.m6::after {
  width: 78px;
  height: 63px;
  background-position: -3px -270px;
  right: 30px; 
}

.new-mark::before {
    position: absolute;
    content: '';
    display: block;
    background-image: url(../../sprite-1.png);
    background-repeat: no-repeat;
    width: 60px;
    height: 59px;
    background-position: -879px -3px;
    top: 0;
    right: 0;
}

.grid-item a {
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  
  display: block;
  width: 135px;
  padding: 10px 0;
  margin-left: 25px;
  box-sizing: border-box;
  position: relative;
  
  background: rgba(0,0,0,.1);
  border-radius: 4px;
}

.grid-item h3 {
  font-size: 24px;
  line-height: 30px;
  color: #fff;
  
  padding-right: 110px;
  margin-top: 22px;
  margin-left: 22px;
  margin-bottom: 10px;
}

.grid-item a:hover {
  background: rgba(0,0,0,.2);
}

.grid-item a:active {
  background: rgba(0,0,0,.3);
}

/*--Slider--*/
.slide-box {
  position: relative;
  width: 620px;
  height: 266px;
  color: white;
}

.slider {
  height: 100%;
  width: 100%;
}

.slide:nth-child(1) {
  background-image: url('../../img/slider-1.jpg');
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
/*  display: none;*/
}

.slide:nth-child(2) {
  background-image: url('../../img/slider-2.jpg');
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  display: none;
}

.slide h3 {
  font-size: 36px;
  line-height: 30px;
  margin: 26px 26px 5px 24px;
  text-transform: uppercase;
}

.slide p {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 24px;
  margin-left: 24px;
}

.slide a {
  position: absolute;
  bottom: 22px;
  left: 24px;
  width: 195px;
  z-index: 250px;
}



.control-left::before {
  content: '\3c';
  color: #fff;
  font-family: 'symbols-technomart';
  font-size: 45px;
  line-height: 45px;
  position: absolute;
  top: 112px;
  left: 25px;
  z-index: 999;
}

.control-right::before {
  content: '\3e';
  color: #fff;
  font-family: 'symbols-technomart';
  font-size: 45px;
  line-height: 45px;
  position: absolute;
  top: 112px;
  right: 25px;
  z-index: 999;
}

.slide-list {
  font-size: 0;
  line-height: 0;
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 36px;
  z-index: 200;
}

.slide-item {
  margin-right: 10px;
  display: inline-block;
  width: 6px;
  height: 6px;
  background: #fff;
  border: 2px solid #fff;
  border-radius: 50%;
}

.slide-item:last-child {
  margin-right: 0;
}

.slide-item.active {
  background: #ee3643;
}

/*Popular block*/

.popular {
  
}

.goods {
  
}

.bar {
  padding: 30px;
  position: relative;
  
  margin-bottom: 20px;
  background: #f7f3ec;
}

.bar h2 {
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
  font-weight: 500;
}

.bar a {
  position: absolute;
  width: 253px;
  box-sizing: border-box;
  top: 24px; 
  right: 24px;
}

.goods-block {
  font-size: 0;
}

.good-item {
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 16px;
  text-align: center;
  
  display: inline-block;
  position: relative;
  vertical-align: top;
  width: 220px;
  box-sizing: border-box;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 1px solid #e5e5e5;
  
  background: url('../../img/item-tool.jpg') no-repeat;
}
 
.good-item:nth-child(4n){
  margin-right: 0;
}

.good-item h3 {
  font-size: 16px;
  color: #000;
  width: 160px;
  margin: 180px auto 10px auto;
  margin-top: 180px;
}

.good-item span {
  line-height: 18px;
  height: 18px;
  color: #999999;
  text-decoration: line-through;
  display: block;
  margin-bottom: 10px;
}

.price {
  font-size: 16px;
  line-height: 18px;
  width: 121px;
  margin-bottom: 22px;
  padding-left: 22px;
  position: relative;
  display: block;
  margin-left: 42px;
  border-radius: 4px 0 0 4px;
}

.price::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: -19px;
  
  border-left: 19px solid #ee3643 ;
  border-top: 19px solid transparent;
  border-bottom: 19px solid transparent;
}

.manufac {
  margin-bottom: 65px;
}

.manufac-block {
  font-size: 0;
}

.manufac-item {
  display: inline-block;
  vertical-align: top;
  
  width: 220px;
  height: 145px;
  box-sizing: border-box;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 1px solid #e5e5e5;
  
  position: relative;
  text-align: center;
}

.manufac-item:nth-child(4n) {
  margin-right: 0;
}

.manufac-item::after {
  content: '';
  position: relative;
  display: inline-block;
  background: url(../../sprite-1.png) no-repeat;
  margin-top: 54px;
  width: 126px;
  height: 37px;
  background-position: -160px -3px;
}

.manufac-item:nth-child(2)::after {
    margin-top: 52.5px;
    width: 123px;
    height: 40px;
    background-position: -336px -365px;
}
.manufac-item:nth-child(3)::after {
    margin-top: 50.5px;
    width: 146px;
    height: 44px;
    background-position: -342px -3px;
}
.manufac-item:nth-child(4)::after {
    margin-top: 23.5px;
    width: 200px;
    height: 88px;
    background-position: -3px -365px;
}
.manufac-item:nth-child(5)::after {
    margin-top: 57px;
    width: 169px;
    height: 31px;
    background-position: -494px -3px;
}
.manufac-item:nth-child(6)::after {
    margin-top: 36px;
    width: 121px;
    height: 73px;
    background-position: -209px -365px;
}
.manufac-item:nth-child(7)::after {
    margin-top: 24.5px;
    width: 151px;
    height: 96px;
    background-position: -3px -3px;
}
.manufac-item:nth-child(8)::after {
    margin-top: 38px;
    width: 204px;
    height: 69px;
    background-position: -669px -3px;
}

/*Service-block*/

.service-block {
  background: #f2f6f8;
  margin-bottom: 80px;
  padding-bottom: 100px;
  border-top: 1px transparent solid;
}

.service-header {
  margin-top: 60px;
  width: 450px;
  margin-bottom: 70px;
}

.service-header h3 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 30px;
}

.service-header p,
.service-slider p { 
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: normal;
}

.service-slider {
  height: 183px;
  box-sizing: border-box;
  position: relative;
}

.service-slider h3 {
  font-size: 36px;
  line-height: 36px;
  color: #32425c;
  margin-bottom: 30px;
}


.service-slider input[type=radio] {
  display: none;
}

.control-panel {
  width: 240px;
  position: relative;
}

.control-panel::after {
  content: '';
  display: block;
  position: absolute;
  background: url(../../img/divider.png) no-repeat;
  width: 10px;
  height: 279px;
  top: -48px;
  right: 0;
}

.control-panel label {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  color: #fff;
  padding: 19px;
  padding-left: 23px;
  background: #32425c;
  display: block;
  border-top: #405069 solid 1px;
  border-bottom: #293449 solid 1px;
  cursor: pointer;
}

.control-panel label:hover {
  background: #293449;
}

#delivery:checked ~ .control-panel label[for=delivery], 
#guarantee:checked ~ .control-panel label[for=guarantee], 
#credit:checked ~ .control-panel label[for=credit] {
  color: #32425c;
  background: #fff;
  border-top: 1px solid white;
  border-bottom: 1px solid white; 
}


#delivery:checked ~ .delivery {
  display: block;
}
#guarantee:checked ~ .guarantee {
  display: block;
}
#credit:checked ~ .credit {
  display: block;
}

.service-slider p {
  margin-bottom: 30px;
}

.service {
  position: absolute;
  width: 620px;
  height: 183px;
  top: 0;
  right: 0;
}

.service::after {
  content: '';
  position: absolute;
  background: url('../../sprite-1.png');
  top: 0;
  right: 0;
}

.delivery{
  display: none;
}
.delivery p {
  width: 300px
}

.delivery::after {
  width: 468px;
  height: 261px;
  background-position: -945px -3px;
}

.guarantee {
  display: none;
}

.guarantee p {
  width: 350px
}

.guarantee::after {
  width: 389px;
  height: 283px;
  background-position: -336px -411px;
}

.credit {
  display: none;
}

.credit p {
  width: 350px;
}

.credit::after {
  width: 465px;
  height: 285px;
  background-position: -160px -74px;
}

.credit .btn {
  padding-left: 45px;
  padding-right: 45px; 
}

/*About-block*/
.about {
  margin-bottom: 90px;
}

.about-us {
  float: left;
  width: 540px;
  margin-right: 100px;
}

.about h3 {
  font-size: 30px;
  line-height: 30px;
  margin-bottom: 30px;
  font-weight: 500;
  text-transform: uppercase;
}

.about p {
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 24px;
  margin-bottom: 25px;
  letter-spacing: -.4px;
}

.trans-company {
  margin-bottom: 0x;
}

.trans-company li {
  padding-left: 35px;
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 20px;
  position: relative;
}

.trans-company li:last-child {
  margin-bottom: 30px;
}

.trans-company li::before {
  content: '';
  display: block;
  position: absolute;
  top: 9px;
  left: 0px;
  background: #ee3643;
  height: 2px;
  width: 25px;
}

.about-us .btn {
  width: 220px;
}

.contact-block {
  float: right;
  width: 300px;
}

.mini-map {
  margin-bottom: 41px;
}

.contact-block .btn {
  width: 300px;
}

/*FOOTER*/
.main-footer {
  color: #fff;
  background: #32425c;
}

.main-footer .container { 
  flex-wrap: wrap;
}

.top-footer {
  font-size: 18px;
  line-height: 24px;
  flex-basis: 100%; 
  margin-bottom: 35px;
  justify-content: space-between;
}

a.logo-footer {
  padding: 19.5px;
  margin-right: 160px;;
}

.footer-item {
  color: #fff;
  padding-top: 35px;
}

.middle-footer {
  font-size: 18px;
  line-height: 24px;
  flex-basis: 100%; 
  justify-content: space-between;
  padding-bottom: 50px;
}

.golden-text {
  color: #ffd180;
}

.footer-contacts {
  width: 220px;
  margin-right: 190px;
}

.middle-footer .footer-item {
  padding-top: 0;
}

.down-footer .container {
  flex-basis: 100%;
}

.down-footer {
  font-size: 16px;
  line-height: 18px;
  background: #293449;
  padding: 35px 0 32px 0;
}

.copyright {
  width: 230px;
  box-sizing: border-box;
}

.social-block {
  font-size: 0;
  margin: auto;
}

.social-block a {
  width: 40px;
  height: 40px;
  display: inline-block;
  vertical-align: top;
  border-radius: 50%;
  background: #212a3a;
  margin-right: 5px;
  position: relative;
}

.social-block a:last-child {
  margin-right: 0;
}

.social-block a::before {
  color: #fff;
  font-family: 'symbols-technomart';
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  position: absolute;
  
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.social-block a:nth-child(1)::before {
  content: '\76';
}
.social-block a:nth-child(2)::before {
  content: '\66';
}
.social-block a:nth-child(3)::before {
  content: '\1f4f7';
}

.feedback,
.author {
  width: 140px;
  box-sizing: border-box;
}

/*.sprite {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-aeg {
    width: 151px;
    height: 96px;
    background-position: -3px -3px;
}

.sprite-bosch {
    width: 126px;
    height: 37px;
    background-position: -160px -3px;
}

.sprite-bucket {
    width: 44px;
    height: 65px;
    background-position: -292px -3px;
}

.sprite-credit {
    width: 465px;
    height: 285px;
    background-position: -160px -74px;
}

.sprite-dewalt {
    width: 146px;
    height: 44px;
    background-position: -342px -3px;
}

.sprite-hitachi {
    width: 169px;
    height: 31px;
    background-position: -494px -3px;
}

.sprite-interskol {
    width: 200px;
    height: 88px;
    background-position: -3px -365px;
}

.sprite-lg {
    width: 121px;
    height: 73px;
    background-position: -209px -365px;
}

.sprite-makita {
    width: 123px;
    height: 40px;
    background-position: -336px -365px;
}

.sprite-medal {
    width: 389px;
    height: 283px;
    background-position: -336px -411px;
}

.sprite-metabo {
    width: 204px;
    height: 69px;
    background-position: -669px -3px;
}

.sprite-new-mark {
    width: 60px;
    height: 59px;
    background-position: -879px -3px;
}

.sprite-shipcar_shadow {
    width: 468px;
    height: 261px;
    background-position: -945px -3px;
}

.sprite-shipping {
    width: 78px;
    height: 63px;
    background-position: -3px -270px;
}

.sprite-temp-map {
    width: 300px;
    height: 157px;
    background-position: -731px -270px;
}

.sprite-tool {
    width: 75px;
    height: 61px;
    background-position: -631px -270px;
}

.sprite-trolley {
    width: 59px;
    height: 72px;
    background-position: -87px -270px;
}

.sprite-vehicle {
    width: 78px;
    height: 62px;
    background-position: -1037px -270px;
}

*/
