@import url('https://fonts.googleapis.com/css?family=Cuprum:400,400i,700&subset=cyrillic');

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300&subset=cyrillic');

 @font-face {
  font-family: 'symbols-technomart';
  src: url('../font/symbols-technomart.eot?23527613');
  src: url('../font/symbols-technomart.eot?23527613#iefix') format('embedded-opentype'),
       url('../font/symbols-technomart.woff?23527613') format('woff'),
       url('../font/symbols-technomart.ttf?23527613') format('truetype'),
       url('../font/symbols-technomart.svg?23527613#symbols-technomart') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: black;
  min-width: 960px;
}

.container {
  width: 940px;
  padding: 0 10px;
  margin: 0 auto;
}

.clearfix:after {
  content: '';
  display: table;
  clear: both;
}

.display-flex {
  display: -webkit-box;
  display: -ms-flexbox; 
  display: -webkit-flex; 
  display: flex; 
}

h1,h2,h3,h4,h5,h6,p {
  padding: 0;
  margin: 0;
}

ul,li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.top-panel {
  background: #293449;
}

.top-panel a,
.top-panel input {
  color: white;
  box-sizing: border-box;
  height: 42px;
}

.logo {
  width: 220px;
  float: left;
  margin-right: 10px;
}

.top-panel form {
  padding-left: 40px;
}

.bookmark
{
  margin-left: auto;
}
.basket {
  margin-left: 20px;
}
.order-btn {
  width: 150px;
  margin-left: 20px;
}

.middle-panel {
  margin: 50px 0 40px;
}

.description {
  width: 190px;
  margin-left: 50px;
  margin-right: 80px;
  float: left;
}

.header-contacts {
  float: left;
}

.user-block {
  float: right;
}

.main-nav {
  margin-bottom: 60px;
}

.main-nav ul {
  display: -webkit-box;
  display: -ms-flexbox; 
  display: -webkit-flex; 
  display: flex;  
  justify-content: space-around;
  -webkit-justify-content: space-around;
}

.nav-item {
  
}

.nav-item a {
  
}

.modal-grid {
  height: 460px;
  background: #f1f1f1;
  margin: 60px 0 50px;
}

.popular {
  
}

.goods {
  
}

.bar {
  padding: 30px;
  position: relative;
  
  margin-bottom: 20px;
}

.bar h2 {
  font-size: 30px;
  line-height: 30px;
}

.bar a {
  position: absolute;
  width: 253px;
  box-sizing: border-box;
  top: 24px; 
  right: 24px;
}

.goods-block {
  font-size: 0;
}

.good-item {
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  width: 220px;
  box-sizing: border-box;
  margin-right: 20px;
  margin-bottom: 20px;
}

.good-item:nth-child(4n){
  margin-right: 0;
}

.manufac {
  margin-bottom: 65px;
}

.manufac-block {
  font-size: 0;
}

.manufac-item {
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  width: 220px;
  height: 145px;
  box-sizing: border-box;
  margin-right: 20px;
  margin-bottom: 20px;
}

.manufac-item:nth-child(4n) {
  margin-right: 0;
}

.service-block {
  height: 520px;
  background: #f2f6f8;
  margin-bottom: 80px;
}

.about {
  margin-bottom: 90px;
}

.about-us {
  float: left;
  width: 540px;
  margin-right: 100px;
}

.contact-block {
  float: right;
  width: 300px;
}

.main-footer .container { 
  flex-wrap: wrap;
}

.top-footer {
  flex-basis: 100%; 
}

.logo-footer {
  margin-right: auto;
}

.middle-footer {
  flex-basis: 100%; 
}

.footer-contacts {
  margin-right: auto;
}

.down-footer {;
  flex-basis: 100%;
}

.copyright {
  width: 230px;
  box-sizing: border-box;
}

.social-block {
  margin: auto;
}

.feedback,
.autor {
  width: 140px;
  box-sizing: border-box;
}







/*

.sprite {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-aeg {
    width: 151px;
    height: 96px;
    background-position: -5px -5px;
}

.sprite-bosch {
    width: 126px;
    height: 37px;
    background-position: -166px -5px;
}

.sprite-bucket {
    width: 44px;
    height: 65px;
    background-position: -302px -5px;
}

.sprite-credit {
    width: 465px;
    height: 285px;
    background-position: -356px -5px;
}

.sprite-dewalt {
    width: 146px;
    height: 44px;
    background-position: -5px -300px;
}

.sprite-hitachi {
    width: 169px;
    height: 31px;
    background-position: -161px -300px;
}

.sprite-interskol {
    width: 200px;
    height: 88px;
    background-position: -340px -300px;
}

.sprite-lg {
    width: 121px;
    height: 73px;
    background-position: -550px -300px;
}

.sprite-makita {
    width: 123px;
    height: 40px;
    background-position: -681px -300px;
}

.sprite-medal {
    width: 389px;
    height: 283px;
    background-position: -5px -398px;
}

.sprite-metabo {
    width: 204px;
    height: 69px;
    background-position: -550px -383px;
}

.sprite-shipcar_shadow {
    width: 468px;
    height: 261px;
    background-position: -831px -5px;
}

.sprite-shipping {
    width: 78px;
    height: 63px;
    background-position: -831px -276px;
}

.sprite-slider-1-mask {
    width: 620px;
    height: 105px;
    background-position: -404px -462px;
}

.sprite-slider-2-mask {
    width: 620px;
    height: 105px;
    background-position: -404px -577px;
}

.sprite-temp-map {
    width: 300px;
    height: 157px;
    background-position: -919px -276px;
}

.sprite-tool {
    width: 75px;
    height: 61px;
    background-position: -1229px -276px;
}

.sprite-trolley {
    width: 59px;
    height: 72px;
    background-position: -1229px -347px;
}

.sprite-vehicle {
    width: 78px;
    height: 62px;
    background-position: -1229px -429px;
}
*/
